.tetris {
    position: relative;
    width: 400px;
    height: 800px;
    border: solid 2px #3399CC;
}
.block {
    position: absolute;
    display: block;
    box-sizing: border-box;
}
.block::after {
    position: absolute;
    display: block;
    content: ' ';
    box-sizing: border-box;
    border: solid 2px #000;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
}
.block_color_red {
    background-color: #FF0000;
    border-top: solid 4px #FF6666;
    border-right: solid 4px #FF6666;
    border-bottom: solid 4px #CC0000;
    border-left: solid 4px #CC0000;
}
.block_color_orange {
    background-color: #FF6600;
    border-top: solid 4px #FF9933;
    border-right: solid 4px #FF9933;
    border-bottom: solid 4px #CC6600;
    border-left: solid 4px #CC6600;
}
.block_color_magenta {
    background-color: #CC00FF;
    border-top: solid 4px #CC66FF;
    border-right: solid 4px #CC66FF;
    border-bottom: solid 4px #9900CC;
    border-left: solid 4px #9900CC;
}
.block_color_blue {
    background-color: #0000FF;
    border-top: solid 4px #6666FF;
    border-right: solid 4px #6666FF;
    border-bottom: solid 4px #0000CC;
    border-left: solid 4px #0000CC;
}
.block_color_lime {
    background-color: #00FF00;
    border-top: solid 4px #66FF66;
    border-right: solid 4px #66FF66;
    border-bottom: solid 4px #00CC00;
    border-left: solid 4px #00CC00;
}
.block_color_yellow {
    background-color: #FFFF00;
    border-top: solid 4px #FFFF99;
    border-right: solid 4px #FFFF99;
    border-bottom: solid 4px #FFCC00;
    border-left: solid 4px #FFCC00;
}
.block_color_cyan {
    background-color: #66CCFF;
    border-top: solid 4px #99FFFF;
    border-right: solid 4px #99FFFF;
    border-bottom: solid 4px #3399CC;
    border-left: solid 4px #3399CC;
}